.space{
    height:100px;
}
.center-item{
    text-align: center;
}
.my .button-size{
    width: 100px;
}
.form-control:focus {
    border-color: #495057;
    box-shadow:0 0 0 0.2rem lightgray;

}
.ui-widget-header-red{
    background: coral;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
  